# Node.js
node_modules/
.env
package-lock.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Archives or output
*.zip

# IDE/editor configs
.vscode/
.idea/

# Optional: ignore compiled files (if using TS or build tools)
dist/
build/

# Vercel deploy cache
.vercel
